<div class="centered-content">

    <form [formGroup]="passwordForm">
        <!-- Terminal -->
        <div class="terminal">
            <div class="input-item">
                <label>Category:</label>
                <input class="input-field" placeholder="Category" type="text" formControlName="category" />
            </div>

            <div class="input-item">
                <label>App:</label>
                <input class="input-field" placeholder="Application" type="text" formControlName="app" />
            </div>

            <div class="input-item">
                <label>Username:</label>
                <input class="input-field" placeholder="Username" type="text" formControlName="userName" />
            </div>

            <div class="input-item">
                <label>Password:</label>
                <input class="input-field" type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" (ngModelChange)="passwordChange()"/>
            </div>

            <div class="actions">
                <button class="btn red mr" (click)="resetForm()">Discard</button>
                <button class="btn" (click)="savePassword()">Save</button>
            </div>
        </div>

        <div>
            <pre>{{ passwordForm.value | json }}</pre>
        </div>
        
    </form>

</div>